.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Adjust to your preferred vertical alignment */
  align-items: center;
  overflow-y: auto; /* Enable vertical scrolling */
  column-gap: 10px;
}

.cartItem {
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 10px;
  gap: 15px;
}


.cartItem img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px black solid;
}

.countHandler {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countHandler button {
  margin-right: 5px; /* Adjust the margin as needed */
}

.countHandler input {
  width: 60px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
}

.countHandler button:last-child {
  margin-left: 5px; /* Adjust the margin as needed */
}
.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
